.sidebar {
    --background-color: #1f2122;
    --foreground-color: #343a40;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-color: #ffc107;
    --text-color: #f8f9fa;

    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: var(--foreground-color);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    color: var(--text-color);
}

.sidebar:hover {
    transform: translateX(0);
}

.sidebar-collapsed {
    transform: translateX(-240px);
}

.sidebar-header {
    padding: 24px;
    text-align: center;
}

.sidebar-header img {
    max-width: 100%;
}

.sidebar-menu {
    position: relative;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.sidebar-menu.is-open {
    height: auto;
    transition: height 0.3s ease-in;
}

.sidebar-menu__item {
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.sidebar-menu__item:hover {
    transform: scale(1.05);
}

.sidebar-submenu {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
}

.sidebar-submenu__item {
    display: block;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.sidebar-submenu__item:hover {
    transform: scale(1.05);
}

.sidebar-footer {
    padding: 24px;
    text-align: center;
    font-size: 0.9rem;
    color: var(--secondary-color);
}