.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.19);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 25rem;
    max-width: 90%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    clip-path: circle();
}

.logo-container img {
    width: 10rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
    color: #888;
}

.form-group input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    color: #444;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-group input:focus {
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #0077ff;
}

.buttons{
    position: absolute;
    left: 0;
    bottom: -4%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button[type='submit'] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: #0077ff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type='submit']:hover {
    background-color: #0052cc;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #0077ff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #f0f0f0;
}