/*-----------------------------------------------------------------------------------------------------------\
|  _____     _   _____ _             _ _          _____  _____  _____  __      _______  _____  _____  _____  |
| |_   _|   (_) /  ___| |           | (_)        / __  \|  _  |/ __  \/  |    / / __  \|  _  |/ __  \|____ | |
|   | | __ _ _  \ `--.| |_ _   _  __| |_  ___    `' / /'| |/' |`' / /'`| |   / /`' / /'| |/' |`' / /'    / / |
|   | |/ _` | |  `--. \ __| | | |/ _` | |/ _ \     / /  |  /| |  / /   | |  / /   / /  |  /| |  / /      \ \ |
|   | | (_| | | /\__/ / |_| |_| | (_| | | (_) |  ./ /___\ |_/ /./ /____| |_/ /  ./ /___\ |_/ /./ /___.___/ / |
|   \_/\__,_|_| \____/ \__|\__,_|\__,_|_|\___/   \_____/ \___/ \_____/\___/_/   \_____/ \___/ \_____/\____/  |
\-----------------------------------------------------------------------------------------------------------*/
.project-manager {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.project-manager .project-menu {
    width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.project-manager .project-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-manager .project-menu li {
    padding: 10px;
    cursor: pointer;
}

.project-manager .project-menu li.active {
    background-color: #f2f2f2;
}

.project-manager .project-details {
    margin-left: 50px;
    padding: 20px;
    background-color: #8d8d8db9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 751px;
    border-radius: 10px;
    /* height: 486px; */
    max-height: 781px;
    overflow: auto;
}

.project-manager .project-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-manager .project-details p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.project-manager .project-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-manager .project-details li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.project-manager .project-details button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
}

.project-manager .project-details input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.project-manager .project-details button[type="submit"] {
    background-color: #3498db;
}

.project-manager .project-details button[type="submit"]:hover {
    background-color: #2980b9;
}

.project-manager .project-details .element{
    background-color: #ccc;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
}

.project-manager .project-details .element.tomato{
    background-color: tomato;
}

.project-manager .project-details .element p,
.project-manager .project-details .element h1{
    margin: 0;
}